<!DOCTYPE>
<html>
<head>
<style>
*{

padding:0px;

margin:0px;

box-sizing:box-border;

}
.rectangle{
    width: 1270px;
	height: 30px;
	background-color: blue;
	color: white;
	text-align: center;
	margin-bottom: 100px;
}


.login{
     background-color: blue;
	 color: white;
	 padding: 10px 35px;
	 border-radius: 20px;
	 cursor: pointer;
	 border: 2px solid blue;
	 margin-left: 570px;
	 margin-top: 20px;
}
.centered {
     text-align: center;
}
     
</style>
</head>
<body>
<div class="rectangle">WEB DASHBOARD</div>

<div class="centered">
 <input type="text" id="username" name="username" placeholder="USER NAME"><br><br>
 <input type="text" id="password" name="password" placeholder="PASSWORD"><br><br>
</div>

<button class="login"><b>LOGIN</b></button>


</body>
</html>
